.card-area {
    width: 80%;
    height: 80%;
}

.card {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: relative;
    transition: .5s;
}

.card > div {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: 700;
    border-radius: 15px;
    position: absolute;
}

.card-back {
    transform: rotateY(180deg);
}

.flip > .card{
    transform: rotateY(180deg);
    
}

main{
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5 , 150px);
    grid-auto-rows: 200px;
    place-items: center center;
    place-content: center center;
}

.card-area.hide{
    visibility: hidden;
}